body{
  background-color: lemonchiffon;  
}

.title{
    border:solid orange;
    text-align:center;
}
.description{
    padding:12px;
    margin:22px;
}
.nanaPic{
    border:solid orange;
    height:350px;
    margin-left:25%;
    border-radius:12px;
}
.ingredients{
    text-align:center;
}
.items{
    text-align:center;
}

.stepContainer{
    border:solid orange;
    margin:12px;
    padding:22px;
    background-image:url('https://media.tenor.com/438H6u87JfsAAAAM/sky-clouds.gif');
}

.steps{
text-align: right;
margin:12px;
}